body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
}

.grid {
  display: flex;
  flex-direction: row;
  border: 5px solid grey;
  width: 600px;
  height: 600px;
  flex-wrap: wrap;
}

.grid div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 25%;
  height: 25%;
  border: 1px solid black;
  font-size: 32px;
  text-align: center;
  vertical-align: middle;
}

.tile-2 {
  background-image: url();
  background-size: contain;
}

.tile-4 {
  background-image: url();
  background-size: contain;
}

.tile-8 {
  background-image: url();
  background-size: contain;
}

.tile-16 {
  background-image: url();
  background-size: contain;
}

.tile-32 {
  background-image: url();
  background-size: contain;
}

.tile-64 {
  background-image: url();
  background-size: contain;
}

.tile-128 {
  background-image: url();
  background-size: contain;
}

.tile-256 {
  background-image: url();
  background-size: contain;
}

.tile-512 {
  background-image: url();
  background-size: contain;
}

.tile-1024 {
  background-image: url();
  background-size: contain;
}

.tile-2048 {
  background-image: url();
  background-size: contain;
}